body{
	height: 100%;
	padding: 0;
	margin: 0;
	font-family: 'Montserrat', sans-serif;
	color: #7e7e7e;
	font-size: 12px;
}

.abc{
	display: inline;
	padding-left: 40px;
}

.abc img{
  vertical-align: text-bottom;
}

.centeral{
	text-align: center;
	margin: 0 auto !important;
}

.container{
	width: 804px;
	box-sizing: border-box;
	padding: 0 !important;
	margin: 0 !important;
}

.row{
	padding: 0 !important;
	margin: 0 !important;
}



.col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9{
	padding: 0 !important;
	margin: 0 !important;
}

.container-fluid{
	padding: 0 !important;
}

.nopadding-r{
	padding-right: 0 !important;
}

.nopadding-l{
	padding-left: 0 !important;
}

.padding-t-30{
	padding-top: 30px !important;
}

.nomargin-t{
	margin-top: 0 !important;
}

.margin-t5{
	margin-top: 5px !important;
}


#page-wrapper{
	min-height: 100%;
	position: relative;
	min-width: 1024px;
	border:10px solid #ececec;
	padding-bottom: 185px;
	font-family: 'Montserrat', sans-serif;
	box-sizing: border-box;
	overflow: hidden;
}

.default-width{
	height: auto;
	width: 804px;
	box-sizing: border-box;
}

.top-navigation{
	width: 804px;
	box-sizing: border-box;
}

.top-navigation .row div{
	line-height: 100px;
	text-align: center;
}

.main-menu{
	list-style: none;
	padding-top: 30px;
	padding-left: 0;
  	margin-left: 0;
  	text-align: center;
	margin-bottom: 0;
	display: inline-block;
	font-size: 12px;
}


.main-menu > li a{
	padding: 15px 0px;
	text-decoration: none;
}

.top-navigation a{
	color: #7e7e7e;
	text-decoration: none;
}

#logo-nav{
	height: 56px;
	text-align: left;
}

.main-slider{
	width: 804px;
	text-align: center;
	margin: 0 auto;
	position: relative;
}

.main-slider div{
}

/* slider css */

.container.padding-t-30.slideshow{
	width: 804px;
}

#slider{
	width: 100%;
	position: relative;
}

.slider-arrow {
	width: 100%;
  position: absolute;
  top: 0;
}

.slider-arrow.next{
}

.slide-desc{
	position: absolute;
	top: 120px;
	left: 20px;
	font-size: 20px;
	color: #6C6C6C;
}

.slide-image{
	height: 300px;
	width: 400px;
	position: absolute;
	top: 30px;
	right: 20;
	background-image: url(images/slides/slider.png);
	background-size: contain;
	background-repeat: no-repeat;
}

.slide-button{
	height: 40px;
	width: 120px;
	background-color: #5868a5;
	border: none;
	color: #fff;
	font-size: 13px;
	/* font-weight: 700; */
	text-transform: uppercase;
}

/**/

.rslides {
	position: relative;
	list-style: none;
	overflow: hidden;
	width: 100%;
	padding: 0;
	margin: 0;
}	

.rslides li {
	-webkit-backface-visibility: hidden;
	position: absolute;
	display: none;
	width: 100%;
	left: 0;
	top: 0;
}

.rslides li:first-child {
  position: relative;
  display: block;
  float: left;
}

.rslides img {
	display: block;
	height: auto;
	float: left;
	width: 100%;
	border: 0;
}

.rslides_nav{
	position: absolute;
	margin: 0 auto;
	top: 250px;
	z-index: 3;
	text-indent: -9999px;
	height: 61px;
	width: 27px;
	background: url("images/a21.png") no-repeat left center;
	background-position: 0 0;
	margin-top: -45px;
	/*background-color: #ececec;*/
}

.rslides1_nav.next{
	right: 0;
	background-position: -63px top;
}

.rslides1_nav.previous{
	left: 0;
}

.slider-desc{
	position: absolute;
	bottom: 20px;
	left: 0;
	right: 0;
	margin: 0 auto;
	text-align: center;
	font-size: 20px;
	letter-spacing: 2.5;
}

/*footer*/

#footer{
	position: absolute;
	bottom: 0px;
	width: 100%;
	background-color: #ececec;
	box-sizing: border-box;
	padding-top: 20px;
}

.footer{
	height: auto;
	width: 804px;
	box-sizing: border-box;
	padding-right: 10px !important;
}

.footer-title {
	font-weight: 400;
	padding-bottom: 5px;
	font-size: 14px;
	box-sizing: border-box;
	padding-left: 10px;
	padding-bottom: 10px;
	color: #424242;
}

.footer-desc{
	padding-bottom: 5px;
	font-size: 11px;
	box-sizing: border-box;
	padding-left: 10px;
	color: #525252;
	margin: 0;
}

.footer ul{
	list-style: none;
	color: inherit;
}

.footer ul li a{
	color: #7e7e7e;
}

#copyrights{
	text-align: right;
}

.footer-icons{
	position: relative;
	font-size: 0;
	letter-spacing: 0;
}

.footer-icon{
	height: 20px;
	width: 20px;
	display: inline-block;
	margin-left: 3px;
	box-sizing: border-box;
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
}

#fb-icon{
	background-image: url(images/fb.png);
}

#twitter-icon{
	background-image: url(images/twitter.png);
}

#instagram-icon{
	background-image: url(images/instagram.png);
}

#gplus-icon{
	background-image: url(images/gplus.png);
}

#pinterest-icon{
	background-image: url(images/pinterest.png);
}

#linkedin-icon{
	background-image: url(images/linkedin.png);
}

/* main content*/

.main-content{
	height: auto;
	width: 804px;
	box-sizing: border-box;
	padding-bottom: 40px;
}

.content-heading{
	height: auto;
	width: auto;
	position: relative;
	color: #5868a5;
	font-weight: 400;
	font-size: 14px;
	padding: 20px 10px 10px 10px;
	box-sizing: border-box;
}

.content-detail{
	height: auto;
	width: auto;
	position: relative;
	font-size: 12px;
	padding: 0px 10px 10px 10px;
	box-sizing: border-box;
	color: #7e7e7e;
}

.content-date{
	font-size: 10px;
	color: #5868a5;
	padding: 0px 10px 20px 10px;
	box-sizing: border-box;
}

/* Showcase */

.showcase{
	height: auto;
	width: 804px;
	box-sizing: border-box;
}

.showcase-title{
	height: auto;
	width: auto;
	position: relative;
	margin: 0 auto;
	text-align: center;
	padding: 40px 0px 20px 0px;
	box-sizing: border-box;
}

.showcase-box{
	height: 290px;
	position: relative;
	box-sizing: border-box;
}

#office-chairs{
	width: 502px;
	font-size: 0;
	letter-spacing: 0;
}

#chubb-safes{
	margin-left: 10px;
	background-size: contain;
}

#hansteel-furniture{
	margin-left: 10px;
	box-sizing: border-box;
}

.inline-box{
	height: auto;
	width: auto;
	position: relative;
	display: inline-block;
	vertical-align: top;	
}

#office-title{
	height: 290px;
	width: 148px;
	position: relative;
	background-color: #eab158;
}

#office-pic{
	height: 290px;
	width: 254px;
	position: relative;
	background-repeat: no-repeat;
	background-size: contain;
}

#office-bottom-title{
	height: auto;
	width: auto;
	position: absolute;
	font-size: 29px;
	color: #fff;
	top: 220px;
	left: 10px;
	line-height: 1.0;
}

#chubb-safes-title{
  height: 75px;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #eab158;
  color: #fff;
  font-size: 21px;
  box-sizing: border-box;
  padding: 24px 15px 15px 15px;
}

#hansteel-furniture-title {
	height: 60px;
	width: 160px;
	position: absolute;
	top: 124px;
	left: 0;
	background-color: #eab158;
	color: #fff;
	font-size: 18px;
	box-sizing: border-box;
	padding: 10px;
	line-height: 1.1;
}

#showcase-more{
	height: 60px;
	width: 160px;
	position: absolute;
	bottom: 0;
	right: 0;
	background-color: #eab158;
	color: #fff;
	font-size: 18px;
	box-sizing: border-box;
	padding: 35px 10px 10px 10px;
	line-height: 1.1;
	text-align: right;
}

/* promotions */

.promotions{
	height: auto;
	width: 804px;
	box-sizing: border-box;
	margin-top: 10px;
}

#promo-banner{
	width: 804px;
	position: relative;
	background-position: center;
	background-repeat: no-repeat;
}

#promo-content{
	height: 24%;
	width: auto;
	position: absolute;
	right: 60px;
	top: 38%;
	text-align: center;
}

#promo-title{
	height: auto;
	width: auto;
	position: relative;
	font-size: 18px;
	color: #fff;
}

#promo-desc{
	height: auto;
	width: auto;
	position: relative;
	font-size: 11px;
	color: #e09c5b;
	box-sizing: border-box;
	padding-top: 5px;
}

a:hover{
	color: #57639b !important;
	text-decoration: none !important;
}

a{
	color: inherit !important;
	text-decoration: none;
}

a:visited{
	text-decoration: none;
}


/* subpages */

#top-banner{
	width: 804px;
	height: 300px;
	position: relative;
	background: linear-gradient(to right, rgba(237,237,237,1) 0%, rgba(255,255,255,1) 100%);
	margin: 0 auto;
}

.about-content{
	height: auto;
	width: 804px;
	box-sizing: border-box;
	padding-bottom: 40px;
	padding-top: 10px !important;
}

#page-title-wrapper{
	position: absolute;
	left: 0;
	bottom: 30px;
	padding: 5px 100px 5px 10px;
	background: linear-gradient(to right, rgba(247,247,247,1) 0%, rgba(252,252,252,0.8) 100%);
}

p#page-title{
	font-size: 20px;
	color: #919297;
	margin-bottom: 0px;
}

p#breadcrums {
  font-size: 11px;
  margin-top: 0px;
}

p#breadcrums a {
	color: #57639b !important;
}

.page-banner{
	position: absolute;
	right: 10px;
	bottom: 10px;
}

.about-content ul{
	padding: 0;
	margin: 0;
	list-style: none;
}

.about-content ul li{
	padding: 0;
	margin: 0;
}

.side-menu{
	font-size: 12px;
	border-left: 3px solid #fff;
	box-sizing: border-box;
	padding: 5px !important;
	border-bottom: 1px solid #D0D0D0;
}

#side-heading{
	color: #fff;
	background-color: #eab158;
	border-left: 5px solid #eab158;
}

.side-menu:hover{
	background-color: #eab158;
	border-left: 5px solid #eab158;
	color: #fff;
}

.about-info{
	position: relative;
	font-size: 0;
	letter-spacing: 0;
	padding-left: 20px;
	box-sizing: border-box;
	font-size: 12px;
}

.align-r{
	text-align: right;
}

.about-para{
	padding-bottom: 20px;
	font-size: 12px;
}

.about-para img{
	float: left;
	vertical-align: top;
	padding-right: 20px;
}

.float-r{
	float: right !important;
}

.align-c{
	text-align: center;
}

.para{
	padding-top: 30px;
}

/* management */

.side-menu-selected{
	border-left: 5px solid #eab158;
}

.management-img{
	float: left;
	padding-right: 20px;
}

.about-info ul{
	padding: 0;
	margin: 0;
	list-style: none;
	font-size: 0;
	letter-spacing: 0;
}

.about-info ul li{
	padding: 0;
	margin: 0;
}

.management-list{
	min-height: 180px;
	width: 100%;
}

/* awards certificates */

.award{
	width: 33.33%;
	box-sizing: border-box;
	border-left: 20px solid #fff;
	border-bottom: 20px solid #fff;
	vertical-align: top;
	display: inline-block;
	position: relative;
}

.award-title{
	position: absolute;
	left: 0;
	bottom: 0;
	padding: 10px 20px 10px 5px;
	background: linear-gradient(to right, rgba(247,247,247,1) 0%, rgba(252,252,252,0.9) 100%);
	font-size: 12px;
}

p{
	font-family: 'Open Sans', sans-serif;
	color: #999999;
}

.award-img-wrapper{
	position: relative;
	background: linear-gradient(to right, rgba(232,232,232,1) 0%, rgba(242,242,242,1) 100%);
}

.award-desc{
	height: auto;
	width: 100%;
	position: relative;
	font-size: 12px;
}

/* products page */

.product-info{
	position: relative;
	font-size: 0;
	letter-spacing: 0;
	box-sizing: border-box;
	font-size: 12px;
}

.brand{
	width: 25%;
	box-sizing: border-box;
	/*border-bottom: 20px solid #fff;*/
	vertical-align: top;
	display: inline-block;
	position: relative;
	padding: 10px 10px 0px 10px !important;
}

.product-info ul{
	padding: 0;
	margin: 0;
	list-style: none;
	font-size: 0;
	letter-spacing: 0;
}

.product-info ul li{
	padding: 0;
	margin: 0;
}

.brand-img-wrapper {
	background: linear-gradient(to right, rgba(232,232,232,1) 0%, rgba(242,242,242,1) 100%);
}


/* aviva page */

ul.flex-direction-nav {
	height: 30px;
	width: 110%;
	font-size: 12px;
	position: relative;
	left: -5%;
	top: -82px;
}

ol.flex-control-nav.flex-control-paging {
	display: none;
}


li.flex-nav-prev a{
	width: 30px;
	height: 30px;
	position: relative;
	background-image: url(images/a30.png);
	background-repeat: no-repeat;
	position: absolute;
	top: 0;
	left: 0;
	text-indent: -9999;
}

li.flex-nav-next a{
	width: 30px;
	height: 30px;
	position: absolute;
	background-image: url(images/a30.png);
	background-repeat: no-repeat;
	background-position: right;
	top: 0;
	right: 0;
	text-indent: -9999;
}

.flexslider {
	width: 90%;
	margin: 0 auto;
	padding-top: 5px;
}

.news-list{
	min-height: 170px;
	width: 100%;
}

.selected-brand{
	height: auto;
	width: 100%;
}

/* contact page*/

p.contact-info{
	font-size: 12px;
	padding-bottom: 0;
	margin-bottom: 3px;
}

.contact-list{
	position: relative;
	display: inline-block;
	vertical-align: top;
	margin-bottom: 5px !important;
}

.contact-list.left{
	width: 30%;
	font-size: 12px;
}

.contact-list.right{
	width: 70%;
	font-size: 12px;
}

#contact-form{
	width: 80%;
	margin: 0 auto;
}

.text-input{
	width: 250px;
	padding: 5px;
}

.text-area{
	width: 250px;
	height: 100px;
	padding: 5px;
}

textarea {
    resize: none;
}

.submit-btn{
	width: 100px;
	padding: 5px;
	background-color: #eab158;
	border: none;
	color: #fff;
}